.container {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  padding-top: 10px;
  width: 100%;
}
  
.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: min(72px, 5vw);
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.item button {
  background: none;
  border: none;
  color: white;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  border-bottom: solid 1px transparent;
  transition: border-bottom-color 0.5s ease, color 0.5s ease;
  padding: 0;
}

.item button:hover {
  border-bottom-color: white;
  color: white;
  cursor: url('./wrench.png'), auto; /* Change cursor to wrench */
}

.item button:active {
  cursor: url('./wrench.png'), auto; /* Change cursor on click */
  transform: scale(0.95); /* Optional: Add a slight click effect */
}